<section class="ppe-features-list">
	<h2 class="ppe-features-list-heading" hidden>${site.loc.featuresHeading}</h2>
	${cssdb.filter(util.cssdbFilter).map(feature => `<section class="ppe-feature" data-stage="${feature.stage}">
		<header class="ppe-feature-heading" id="${feature.id}">
			<h3 class="ppe-feature-title">
				<a class="ppe-feature-title-link" ${util.href('/features#' + feature.id, req)}>
					${util.titlify(feature.id, feature.title)}
				</a>
			</h3>
			<a class="ppe-feature-heading-stage" data-stage="${feature.stage}" ${util.href('/features#' + feature.id, req)}>Stage ${feature.stage}</a>
			<a class="ppe-feature-heading-specLink" ${util.href(feature.specification, req)}>${site.loc.specificationText}</a>
			<a class="ppe-feature-heading-pluginLink" ${util.href(feature.polyfills.slice(-1)[0].link, req)}>${site.loc.pluginText}</a>
		</header>
		<p class="ppe-feature-description">${feature.description}</p>
		<pre class="ppe-feature-example">${feature.example}</pre>
	</section>`)}
</section>
