<!doctype html>
<html lang="en">
	<title>${site.title}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@jon_neal">
	<meta property="og:title" content="PostCSS Preset Env">
	<meta property="og:description" content="Convert modern CSS into something browsers understand.">
	<meta property="og:image" content="https://cssdb.org/cssdb.jpg">
	<meta property="og:site_name" content="cssdb">
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://preset-env.cssdb.org/">
	<link href="/favicon.ico" rel="shortcut icon">
	<link href="/style.css" rel="stylesheet prefetch">
	<script src="/script.js"></script>
	<body>
		${
			req.url === '/'
				? include("pages/landing")
			: include(util.getURL(req.url))
		}
	</body>
</html>
