.ppe-features {
	display: flex;
	flex-direction: row-reverse;
}

.ppe-navigation {
	background-color: #f7f7f7;
	bottom: 0;
	left: 0;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	overflow-y: hidden;
	overflow-y: overlay;
	padding: calc(25px + var(--heading-size)) 35px 25px;
	position: fixed;
	top: 0;
	width: 300px;
}

.ppe-navigation:hover {
  overflow-y: auto;
  overflow-y: overlay;
}

@media (hover: none) {
  .ppe-navigation {
    overflow-y: auto;
    overflow-y: overlay;
  }
}

.ppe-navigation-select {
	display: block;
	margin: 0 0 20px;
	width: 100%;
}

.ppe-feature-menu-link {
	color: #777777;
	display: block;
	font-style: normal;
	font-size: 14px;
	padding: 5px 0;
}

.ppe-feature-menu-link:hover, .ppe-feature-menu-link:focus, .ppe-feature-menu-link[aria-current] {
	color: #000000;
}

.ppe-features-list {
	flex-grow: 1;
	margin-left: 300px;
	padding: 0 75px calc(var(--heading-size) * 1.25 + 50px);
}

.ppe-feature {
	margin: 0 0 calc(var(--heading-size) * -1.25);
}

.ppe-feature-heading {
	color: #3c3c3c;
	font-size: 32px;
	font-weight: inherit;
	letter-spacing: -0.02em;
	padding: calc(var(--heading-size) + 50px) 0 0;
}

.ppe-feature-heading-link {
	color: inherit;
}

.ppe-feature-heading:target, .ppe-feature-heading a:hover, .ppe-feature-heading a:focus {
	color: #3095ff;
}

.ppe-feature-example {
	background-color: #282c34;
	border-radius: 3px;
	color: #abb2bf;
	font: 400 100%/1.5 "Roboto Mono", monospace, monospace;
	padding: 15px 30px;
}
