.ppe-landing-header {
	align-items: center;
	background-image: linear-gradient(238deg, #1874D5, #9952C8);
	background-size: 100% 100%;
	color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 60vh;
	padding: 15px 15px 70px;
	text-align: center;
}

.ppe-landing-title {
	font-size: 300%;
	font-weight: 300;
	margin: 12px 0 0;
}

.ppe-landing-tag {
	opacity: 0.7;
	margin: 0 0 12px 0;
}

.ppe-landing-menu {
	display: grid;
	grid-gap: 20px;
	justify-content: center;
	grid-template-columns: repeat(4, 1fr);
	margin-top: 30px;
}

.ppe-landing-menu-link {
	align-items: center;
	background-color: rgba(0, 0, 0, .2);
	border-radius: 5px;
	color: #ffffff;
	display: inline-flex;
	flex-direction: column;
	height: 180px;
	justify-content: center;
	text-decoration: none;
	transition: all .3s cubic-bezier(0.250, 0.460, 0.450, 0.940), color 0s;
	width: 180px;
}

.ppe-landing-menu-link:hover, .ppe-landing-menu-link:focus {
	background-color: rgba(255,255,255,1);
	box-shadow: 0 20px 40px rgba(0, 0, 0, .3), 0 15px 12px rgba(0, 0, 0, .22);
	color: #f527e0;
	transform: scale(1.1);
}

.ppe-landing-menu-link svg {
	fill: currentColor;
	height: 65px;
	width: 65px;
}

.ppe-landing-menu-link span {
	font-size: 14px;
	font-weight: 400;
	margin: 12px 0 0;
}

.ppe-landing-menu-link:hover svg {
	fill: url(#linear);
}

.ppe-landing-content {
	font-weight: 400;
	margin: 50px auto 20px;
	max-width: 37em;
	padding: 0 1em;
	text-align: center;
}

.ppe-landing-content a {
	box-shadow: 0 1px 0 0 transparent;
	color: #3095FF;
	text-decoration: none;
}

.ppe-landing-content a:hover, .ppe-landing-content a:focus {
	box-shadow: 0 1px 0 0;
}

.ppe-landing-action {
	display: flex;
	justify-content: center;
	margin: 0 15px 20px;
}

.ppe-landing-button {
	background-color: #2e2e2e;
	border-radius: 5px;
	border-width: 0;
	color: #ffffff;
	font: 400 100%/1.5 "Roboto Mono", monospace, monospace;
	margin: 12px 0 30px;
	padding: 10px 20px;
}

@keyframes rolling {
	0% { background-position: 0% 50% }
	50% { background-position: 100% 50% }
	100% { background-position: 0% 50% }
}
