:root {
	--spacepurple: #474663;
	--lightpurple: #6e6ac3;
}

@font-face {
	font-family: ibmbold;
	src: url(../fonts/IBMPlexSans-Bold.ttf);
}

@font-face {
	font-family: ibmreg;
	src: url(../fonts/IBMPlexSans-Regular.ttf);
}

body {
	font-family: ibmreg;
}

.hero {
	height: calc(80vh - 55px);
	min-height: 500px;
	box-sizing: border-box;
	padding: 1em;
	height: auto;
	display: -webkit-box;
	background: var(--spacepurple);
}

.code {
	border-radius: 5px;
	font-size: 13px;
	display: block;
	max-width: 400px;
	height: auto;
	width: 100%;
}

.hero__content {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-around;
}

.code__title {
	color: #fff;
}
.hero__wrapper {
	max-width: 1200px;
	box-sizing: border-box;
	padding: 2em;

	margin: 0 auto;
	width: 100%;
	align-items: center;
}

.header {
	background: var(--spacepurple);
	height: 70px;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	display: flex;
	background-color: #474663;
	background: linear-gradient(90deg, #9952c8, #1874d5);
	justify-content: space-between;
}

.header__content {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	padding: 2em;
	width: 100%;
	height: 70px;
}

.hero__title {
	font-family: ibmbold;
	color: #fff;
	font-size: 2em;
	display: block;
	margin: 0 auto;
	max-width: 540px;
}

.nav__link {
	color: #e1f5ff;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 13px;
	margin-left: 20px;
	font-weight: 200;
	transition: 0.22s ease-in-out;
}

.nav__link:hover {
	transition: 0.22s ease-in-out;
	color: #a5b8ff;
}

.npminstall {
	color: #fff;
	font-size: 13px;
	font-family: monospace;
	background: var(--spacepurple);
	width: 300px;
	box-sizing: border-box;
	padding: 10px;
	line-height: 1.5;
	border-radius: 5px;
}

.subhero {
	background: #f9f9ff;
	height: 50vh;
	width: 100%;
	display: flex;
}

.section__container {
	display: flex;
	justify-content: space-between;
	max-width: 1200px;
	align-items: center;
	width: 100%;
	margin: 0 auto;
	height: inherit;
	box-sizing: border-box;
	padding: 2em;
}

.section__container--example {
	display: flex;
	justify-content: space-between;
	max-width: 1200px;
	align-items: center;
	flex-flow: column;
	width: 100%;
	margin: 0 auto;
	height: inherit;
	box-sizing: border-box;
	padding: 2em;
}

.section__heading {
	text-align: center;
	width: 100%;
}

.section__content {
	max-width: 600px;
}

.section__wrapper {
	margin: 2em auto;
	width: 100%;
	max-width: 1200px;
	justify-content: space-between;
	display: flex;
	align-items: center;
}

.section__title {
	color: var(--spacepurple);
	font-size: 2em;
	font-family: ibmbold;
	letter-spacing: -1px;
	line-height: 1.3333333;
}

.section__text {
	padding-top: 10px;
	color: #8d8dad;
	line-height: 1.3333333;
	font-size: 1.2em;
}

.gettingstarted {
	line-height: 2;
}
.link__default {
	color: #9c9cea;
	border-bottom: 1px solid rgba(156, 156, 234, 0.2);
	text-decoration: none;
}

.link__default:hover {
	transition: 0.22s ease-in-out;
	color: var(--lightpurple);
	border-bottom: 1px solid rgba(156, 156, 234, 0.4);
}

.interactive__wrapper {
	height: 30px;

	margin: auto;
	display: inline-block;
	overflow: hidden;
	bottom: -2px;
	position: relative;
}

ul {
	margin: 0;
	padding: 0;
	animation: scrollUp 6s 0.22s forwards ease-in-out;
}
ul li {
	opacity: 1;
	height: 35px;
	padding: 10px;
	list-style: none;
}
@keyframes scrollUp {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(-98.6333333333%);
	}
}

.hljs-comment,
.hljs-quote {
	color: #7285b7;
}

/* Tomorrow Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
	color: #ff9da4;
}

/* Tomorrow Orange */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
	color: #ffc58f;
}

/* Tomorrow Yellow */
.hljs-attribute {
	color: #ffeead;
}

/* Tomorrow Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
	color: #d1f1a9;
}

/* Tomorrow Blue */
.hljs-title,
.hljs-section {
	color: #bbdaff;
}

/* Tomorrow Purple */
.hljs-keyword,
.hljs-selector-tag {
	color: #ebbbff;
}

.hljs {
	display: block;
	overflow-x: auto;
	background: #5b5b7d;
	color: white;
	padding: 1em;
	font-size: 12px;
	border-radius: 5px;
}

.hljs-emphasis {
	font-style: italic;
}

.hljs-strong {
	font-weight: bold;
}

@media (min-width: 768px) {
	.header__nav {
		-webkit-box-flex: 1;
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		height: 30px;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
	}
	.section__illustration {
		display: block;
	}
}

@media (max-width: 768px) {
	.section__container {
		flex-flow: column;
	}
	.header__content {
		flex-direction: column;
	}
	.section__illustration {
		display: none;
	}
	.section__wrapper {
		flex-direction: column;
	}

	.hero__content {
		align-items: center;
		flex-flow: column;
	}
}
