@import url("https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:300,400");
@import url("./landing.css");
@import url("./heading.css");
@import url("./codepen.css");
@import url("./features.css");

* {
	box-sizing: border-box;
	transition: all .3s cubic-bezier(0.250, 0.460, 0.450, 0.940), font-weight 0s;
}

:root {
	--heading-size: 80px;
	font: 300 100%/1.5 "Roboto", sans-serif;
}

body {
	margin: 0;
}

a {
	text-decoration: none;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

[aria-current] {
	font-weight: 400;
}
