<header class="ppe-landing-header">
	<h1 class="ppe-landing-title">${site.title}</h1>
	<p class="ppe-landing-tag">${site.loc.taglineText}</p>
	<nav class="ppe-landing-menu">
		${Object.keys(site.links.landing).map(href => `<a class="ppe-landing-menu-link" ${util.href(href, req)}>
			${include(util.getSymbol(href))}
			<span>${site.links.landing[href]}</span>
		</a>`)}
	</nav>
</header>
<main>
	<p class="ppe-landing-content">${site.loc.landingHtml}</p>
	<p class="ppe-landing-action" aria-label="${site.loc.npmInstallPromptText} ${site.loc.npmInstallText}">
		<span class="ppe-landing-clipboard">
			<span class="ppe-landing-clipboard-text" id="clipboard" data-clipboard>${site.loc.npmInstallHtml}</span>
		</span>
	</p>
</main>
